@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lato:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');
*/{
font-family: 'Borel', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

table {
margin: 50px;
border: 2px solid yellow;
border-collapse: collapse;
    

}

.darkyellow{
background: #DBA800;
}

td,th {
border: 2px solid yellow;
padding: 20px;
text-align: center;
}

td{
background: blue;
font-weight: lighter;
color: white
}

th {
background: yellow;
}
